
.vscode
users.db
aws/
venv
.venv


# Compute Server
computeserver/.env
computeserver/users.db
computeserver/server/EBS/users/
computeserver/server/protos/
*.pyc
*.pyo
__pycache__/



# Frontend
frontend/node_modules/
frontend/.next/
frontend/app/proto/compiled.d.ts
frontend/app/proto/compiled.js
