@font-face {
  font-family: "CenturyGothic";
  src: url("./fonts/CenturyGothic.ttf");
}

@font-face {
  font-family: "CenturyGothicBold";
  src: url("./fonts/CenturyGothic-Bold.ttf");
}

#useFont {
    font-family: "CenturyGothic", "CenturyGothicBold";
    font-size: 1px;
}

.modern-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

/* For WebKit browsers */
.modern-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.modern-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.modern-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.modern-scroll::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}